
KFC/FastFoodWebApplication/bin/Debug/net7.0/FastFoodWebApplication.exe
KFC/FastFoodWebApplication/bin/Debug/net7.0/FastFoodWebApplication.dll
KFC/.vs/FastFoodWebApplication/FileContentIndex/f0249f7d-d7c4-4d55-99bd-2cfb193591cf.vsidx
KFC/.vs/FastFoodWebApplication/FileContentIndex/d5fa2130-9696-493d-9763-859be3423d4a.vsidx
KFC/.vs/FastFoodWebApplication/FileContentIndex/85f4f8fe-9a96-4443-bd25-8f3c555465cd.vsidx
KFC/.vs/FastFoodWebApplication/FileContentIndex/619a02d4-b15a-466a-9caf-bdae34293d01.vsidx
KFC/.vs/FastFoodWebApplication/FileContentIndex/172c6e2f-206d-467e-a432-c8748ae21f41.vsidx
KFC/FastFoodWebApplication/bin/Debug/net7.0/FastFoodWebApplication.dll
