
@{
    ViewData["Title"] = "Access denied";
}
@await Html.PartialAsync("_HeadPartial")

<header>
    @* <h1 class="text-danger">@ViewData["Title"]</h1> *@
    <h5 class="text-danger" style="text-align:center; font-size: 30; margin-top:20px;">You do not have permission to access this page.</h5>
</header>
