@using Microsoft.AspNetCore.Identity
@using FastFoodWebApplication.Models
@using Microsoft.EntityFrameworkCore
@model FastFoodWebApplication.Models.Profile
@inject FastFoodWebApplication.Data.FastFoodWebApplicationContext Context
@{
    ViewData["Title"] = "Profile";
    var defaultAva = "images/avt.jpg";
    var user = await Context.Users.Include(u => u.Profile).SingleOrDefaultAsync(u => u.UserName == User.Identity.Name);
    decimal userSpend = user.Profile.UserSpend;


    string memberShip = "Silver";
    if (userSpend >= 3000000)
    {
        memberShip = "Gold";
    }
    if (userSpend >= 5000000)
    {
        memberShip = "Diamond";
    }
    if (userSpend >= 7000000)
    {
        memberShip = "Platinum";
    }

    
}
@await Html.PartialAsync("_HeadPartial")

<h1 style="margin-left: 100px">User Profile</h1>
<h4 style="margin-left: 100px">Membership: @memberShip</h4>
<div class="row" style="margin-left: 100px">
    <div class="col-md-8">
        <form asp-action="Index" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="Avatar" type="file" accept="image/*" onchange="loadFile(event)" class="form-control" />
                <img id="output" src="@(Model?.Avatar??defaultAva)" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label" style="font-weight: bold;"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label" style="font-weight: bold;"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label" style="font-weight: bold;"></label>
                <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<Nationality>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" asp-controller="Account" asp-action="UpdateProfile" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <div><a asp-action="Index" asp-controller="Orders">Order History </a></div>
</div>
    <style>
        input[type=file] {
            display: none
        }

        #output {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border: 1px solid gray;
            min-width: 100px
        }
    </style>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };

            $("#output").click(function () {
                $("input[type=file]").click();
            })
        </script>
    }

