@model LoginInput

@{
    ViewData["Title"] = "Log in";
}
@await Html.PartialAsync("_HeadPartial")

<h1 class="text-center" style="font-family:Open Sans">@ViewData["Title"]</h1>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4 class="text-center" style="font-family:Open Sans;">Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Email" class="form-label">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                    <div>
                        @* <p>
                        <a id="forgot-password" asp-action="ForgotPassword">Forgot your password?</a>
                        </p> *@
                        <p class="text-center">
                            <a asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl">Register as a new user</a>
                        </p>
                        @* <p>
                        <a id="resend-confirmation" asp-action="ResendEmailConfirmation">Resend email confirmation</a>
                        </p> *@
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
