
<div class="col-md-12">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div>All Users</div>
            @foreach (AppUser user in ViewBag.Users)
            {
                <div class="row">
                    @Html.AjaxActionLink(user.Profile?.FullName??user.Email, "GetRole", new {id=user.Id},
                new AjaxOptions{
                UpdateTargetId = "form",
                LoadingElementId = "loading",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "clearResult"})
                </div>
            } 
        </div>

        <div class="col-md-5" style="margin-top:20px;">
            <div id="loading" style="display:none">....................</div>
            @using (Html.AjaxBeginForm(new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "result"
                }))
            {
                <div class="form-group" id="form">
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }

            <div id="result"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

@* <script>
    function clearResult() {
        document.getElementById("loading").style = "display: none";
    }

</script> *@