@{
    Layout = null;
}
<div id="messageContainer">
    <p>Save Successfully!!!</p>
</div>

<script>
    function hideMessage() {
        document.getElementById("messageContainer").style.display = "none";
    }
    setTimeout(hideMessage, 1000);
</script>
